<!DOCTYPE html>
{% load static %}
{% load widget_tweaks %}
<html lang="ja">

<head>
  <meta charset="UTF-8" />
  <title>css sample</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    {% block stylesheet %}
    <!-- css javascript -->
    {% endblock %}
</head>

<body class="body">
  <header class="header">
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
      <a href="/" class="navbar-brand">Test</a>
      <div class="collapse navbar-collapse justify-content-end" id="navmenu">
        <div class="navbar-nav">
          {% if user.is_authenticated %}
          {% if user.is_superuser %}
          <p class="navbar-brand">{{ user.username }}</p>
          <a class="nav-item nav-link" href="{% url 'logout' %}">ログアウト</a>
          {% else %}
          <a class="nav-item nav-link" href="{% url 'logout' %}">ログアウト</a>
          {% endif %}
          {% endif %}
        </div>
      </div>
    </nav>
  </header>
  <main class="main container pt-4">
    {% block main_contents %}
    <!-- -->
    {% endblock %}
  </main>
  {% block javascript %}
  <!-- javascript -->
  {% endblock %}
</body>

</html>