{% extends "lesson/base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block main_contents %}

<div class="row">
  {% for obj in object_list %}
  <div class="col-3 pt-4">
    <div class="card" style="width: 18rem;">
      <img src="/media/{{ obj.picture }}" class="card-img-top" alt="">
      <div class="card-body text-center">
        <h2 class="card-title text-center">{{ obj.name }}</h2>
        <p class="card-text">{{ obj.summary }}</p>
        <a href="{% url 'blogs:course_list' obj.id %}" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>