{% extends "lesson/base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/card.css' %}">
{% endblock %}
{% block main_contents %}

<div class="row">
  {% for obj in object_list %}
  <div class="col-3 pt-4">
    <a href="{% url 'blogs:course_list' obj.id %}" class="card text-decoration-none link-dark">
      <div class="pt-3 mx-auto">
        <img src="/media/{{ obj.picture }}" class="" alt="" height="100" width="auto">
      </div>
      <div class="card-body">
        <h2 class="card-title">{{ obj.name }}</h2>
        <p class="card-text">{{ obj.summary }}</p>
      </div>
    </a>
  </div>
  {% endfor %}
</div>
{% endblock %}